<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="https://code.jquery.com/jquery-1.12.4.js" 
			integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
	
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.css" rel="stylesheet">
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/npm.js"></script>
		
		<script type="text/javascript" src="static/js/add.js" ></script>
		<script type="text/javascript" src="static/js/login.js" ></script>
	</head>

	<body>
		<div class="container">
			<div class="row" style="margin-top: 50px;">
			<div class="col-md-3">
			<div class="input-group">
				<span class="input-group-addon" id="sizing-addmin2">网站名</span>
				<input type="text" class="form-control" placeholder="请输入网站名"  aria-describedbu="sizing-addon2" id="webName"/>
			</div>
			</div>
			</div>
			
			<div class="row" >
				<div class="col-md-3">
					<div class="input-group">
				<span class="input-group-addon" id="sizing-addmin2">自定名</span>
				<input type="text" class="form-control" placeholder="请输入自定义名"  aria-describedbu="sizing-addon2" id="makeName" />
					</div>
				</div>
				
				<button class="btn btn-primary" id="btnAdd">添加</button>
			</div>
		</div>
	</body>

</html>